
img#img_barcode {
    width: 100%;
    height: 41px;
}
@media screen and (min-device-width: 1881px) and (max-device-width:2000px)
{

    span#text_barcode {
        letter-spacing: 12px;
    }
}
@media screen and (min-device-width: 992px) and (max-device-width:1880px)
{

    span#text_barcode {
        letter-spacing: 12px;
    }
}
@media screen and (min-device-width: 768px) and (max-device-width:991px)
{

    span#text_barcode {
        letter-spacing: 4px;
    }
}
@media screen and (min-device-width: 700px) and (max-device-width: 767px)
{

    span#text_barcode {
        letter-spacing: 17px;
    }
}
@media screen and (min-device-width: 690px) and (max-device-width: 699px)
{

    span#text_barcode {
        letter-spacing: 17px;
    }
}
@media screen and (min-device-width: 600px) and (max-device-width: 689px)
{

    span#text_barcode {
        letter-spacing: 17px;
    }
}
@media screen and (min-device-width: 579px) and (max-device-width: 698px)
{

    span#text_barcode {
        letter-spacing: 17px;
    }
}
@media screen and (min-device-width: 570px) and (max-device-width:578px)
{

    span#text_barcode {
        letter-spacing: 17px;
    }
}
@media screen and (min-device-width: 576px) and (max-device-width:569px)
{

    span#text_barcode {
        letter-spacing: 17px;
    }
}
@media screen and (min-device-width: 570px) and (max-device-width:575px)
{

    span#text_barcode {
        letter-spacing: 20px;
    }
}
@media screen and (min-device-width: 552px) and (max-device-width:569px)
{

    span#text_barcode {
        letter-spacing: 20px;
    }
}
@media screen and (min-device-width: 540px) and (max-device-width:551px)
{

    span#text_barcode {
        letter-spacing: 18.5px;
    }
}
@media screen and (min-device-width: 536px) and (max-device-width:539px)
{

    span#text_barcode {
        letter-spacing: 19px;
    }
}
@media screen and (min-device-width: 514px) and (max-device-width:535px)
{

    span#text_barcode {
        letter-spacing: 17px;
    }
}
@media screen and (min-device-width: 484px) and (max-device-width:513px)
{

    span#text_barcode {
        letter-spacing: 15.5px;
    }
}
@media screen and (min-device-width: 480px) and (max-device-width:483px)
{

    span#text_barcode {
        letter-spacing: 15px;
    }
}
@media screen and (min-device-width: 470px) and (max-device-width:479px)
{

    span#text_barcode {
        letter-spacing: 14.5px;
    }
}
@media screen and (min-device-width: 460px) and (max-device-width:469px)
{

    span#text_barcode {
        letter-spacing: 14px;
    }
}
@media screen and (min-device-width: 442px) and (max-device-width:459px)
{

    span#text_barcode {
        letter-spacing: 13.5px;
    }
}
@media screen and (min-device-width: 420px) and (max-device-width:441px)
{

    span#text_barcode {
        letter-spacing: 11.5px;
    }
}
@media screen and (min-device-width: 408px) and (max-device-width:419px)
{

    span#text_barcode {
        letter-spacing: 11px;
    }
}
@media screen and (min-device-width: 382px) and (max-device-width:407px)
{

    span#text_barcode {
        letter-spacing: 10px;
    }
}
@media screen and (min-device-width: 370px) and (max-device-width:381px)
{

    span#text_barcode {
        letter-spacing: 9px;
    }
}
@media screen and (min-device-width: 350px) and (max-device-width:369px)
{

    span#text_barcode {
        letter-spacing: 8px;
    }
}
@media screen and (min-device-width: 340px) and (max-device-width:349px)
{

    span#text_barcode {
        letter-spacing: 8px;
    }
}
@media screen and (min-device-width: 320px) and (max-device-width:339px)
{

    span#text_barcode {
        letter-spacing: 7px;
    }
}
@media screen and (min-device-width: 312px) and (max-device-width:319px)
{

    span#text_barcode {
        letter-spacing: 6px;
    }
}
@media screen and (min-device-width: 308px) and (max-device-width:311px)
{

    span#text_barcode {
        letter-spacing: 5px;
    }
}
@media screen and (min-device-width: 300px) and (max-device-width:307px)
{

    span#text_barcode {
        letter-spacing: 5px;
    }
}
@media screen and (min-device-width: 290px) and (max-device-width:299px)
{

    span#text_barcode {
        letter-spacing: 4.5px;
    }
}
@media screen and (min-device-width: 280px) and (max-device-width:289px)
{

    span#text_barcode {
        letter-spacing:4px;
    }
}
@media screen and (min-device-width: 270px) and (max-device-width:279px)
{

    span#text_barcode {
        letter-spacing: 4px;
    }
}
@media screen and (min-device-width: 260px) and (max-device-width:269px)
{

    span#text_barcode {
        letter-spacing: 3.5px;
    }
}
@media screen and (min-device-width: 250px) and (max-device-width:259px)
{

    span#text_barcode {
        letter-spacing: 3.5px;
    }
}
@media screen and (min-device-width: 240px) and (max-device-width:249px)
{

    span#text_barcode {
        letter-spacing: 3.5px;
    }
}
@media screen and (min-device-width: 230px) and (max-device-width:239px)
{

    span#text_barcode {
        letter-spacing: 1.5px;
    }
}
/*xuat file*/
a#btnExcel,a#btnExcel:hover{
    color:#ffffff;
}